*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    opacity: 0.8;
}

.wrapper{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/IIITDMJ.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
    min-height: 30rem;
}

#navbar-right{
    display: inline-block;
    height: 40px;
    width: calc(100% - 40px);
    text-align: right;
    color: black;
}

#navbar-right li a{
    color: black;
}

nav{
    width: 100%;
    height: auto;
    background-color: #0005;
}

nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: 0.3s ease;
}

img{
    width: 14%;
    margin-left: 1.9rem;
    margin-top: -4%;
}

nav ul li:hover{
    background-color: lightsalmon;
    color: black;
    font-weight: bold;
    transform: scale(1.15);
    border-radius: 4px;
}

.section{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}

.section h1{
    color: #fff;
    line-height: 50px;
}

.section p{
    color: gray;
}

.camel{
    color: coral;
    
}

.btn-1{
    background-color: coral;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.features{
    position: absolute;
    top: 250px;
    margin-top: 4%;
    margin-bottom: 2%;
}

.features button{
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
    border-radius: 10px;
    transition: 0.3s ease;
}

.features button:hover{
    transform: scale(1.1) ;
    background-color: coral;
    color: blanchedalmond;
}

.showcase h1{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#courses{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#courses img{
    width: 200px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: auto;
}

#brand-logo{
    width: 30px;
    /* margin: 10px; */
}

.btn{
    color: white;
    background-color: #22d1ee;  
    border-radius: 3px;
    padding: 10px 30px;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-right: 5px;
    line-height: 20px;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 0px;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: #272727;
    color: antiquewhite;
}

.slider{
    width: 85%;
    height: 90vh;
    background-image: url(Images/1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.slider .title{
    width: 50%;
    height: auto;
    position: absolute;
    left: 10%;
}

.slider .title h1{
    font-size: 57px;
    color: white;
    line-height: 65px;
}

.slider .title h1 span{
    color: tomato; !important;
}

.slider .title h2{
    color: whitesmoke;
    font-size: 40px;
    padding: 30px;
    padding-bottom: 5px;
}

.slider .title P{
    font-size: 20px;
    color: whitesmoke;
    padding-left: 35px;
}

.slider .title .btn{
    color: white;
    background-color:#22d1ee;  
    border-radius: 3px;
    padding: 16px 36px;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-right: 10px;
    line-height: 20px;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 35px;
    transition: 0.3s ease;
}

.slider .title .btn:hover{
    background-color: #272727;
}

.header{
    color: black;
    text-align: center;
    margin: 50px;
    font-size: 30px;
    background: linear-gradient(rosybrown,grey);
}

.flex-container{
margin-top: 0px;
clear: both;
float: inline-start;
}

.flex-item{
    width: 400px;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: 1.6%;
    margin-left: 60px;
    vertical-align: middle;
    border: grey 4px solid;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.flex-item img{
    padding-top: 12px;
}

#big-item{
    padding-top: 9px;
}

.main .flex-container .flex-item:hover{
    transform: scale(1.1);
}

.main .flex-container .flex-item h5{
    font-size: 25px;
    letter-spacing: 0.5px;
    margin: 20px 0px;
}

.main .flex-container .flex-item p{
    width: 180px;
    text-align: center;
    margin-left: 30px;
    color: darkgrey;
    font-size: 15px;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
    margin-top: 4%;
}
